---

---

<html><head>

    <!-- FastSpring Header -->
    <script id="fsc-api" src="https://sbl.onfastspring.com/sbl/0.9.5/fastspring-builder.min.js" type="text/javascript" data-storefront="jwts.onfastspring.com/embedded-tsplus-net" data-continuous="true" data-before-requests-callback="beforeRequestsCallbackFunction" data-after-markup-callback="afterMarkupCallbackFunction" data-markup-helpers-callback="markupHelpersCallback" data-debug="false" data-data-callback="dataCallback">
        </script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- CSS -->
    <link rel="stylesheet" href="./demo.css">

    <title>FastSpring Embedded Checkout Demo</title>

<script type="text/javascript" id="handlebarScriptElm" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script></head>

<body>
    <h1>FastSpring</h1>
    <h2>Embedded Checkout Demo 2022</h2>

    <!-- Collapsible header with testing information -->
    <div class="demo-header">
        <div class="demo-header-row">
            <a href="#" class="collapsible">Click here for demo information</a>
        </div>
        <div class="demo-header-collapsible" id="demo-header-collapsible">
            <div class="demo-header-col">
                <div class="demo-header-item">Card Number: <span class="testdetails">4242 4242 4242 4242</span></div>
                <div class="break"></div>
                <div class="demo-header-item">Expiry Date: <span class="testdetails">Any date in the future</span></div>
                <div class="break"></div>
                <div class="demo-header-item">CVV: <span class="testdetails">*HFBB</span></div>
                <div class="break"></div>
                <div class="demo-header-item">Coupon Code: <span class="testdetails">20OFF</span></div>
                <div class="break"></div>
                <!-- Link to reset the demo -->
                <div class="demo-header-item"><a class="reset" href="#" onclick="
                resetDemo()
">[Reset Demo]</a></div>
            </div>
            <div class="demo-header-col"> <img src="./images/info.png" class="infoImage"></div>
        </div>
    </div>

    <!-- Main page content container -->
    <div class="flex_container">

        <!-- Left side of the page: order summary and review -->
        <div class="flex_item_left">
            <div class="cartTitle">
                <!-- Order Summary title bar -->
                <h3>
                    <img src="./images/shopping_cart.png" class="cartImageCheckout">
                    Order Summary
                </h3>
            </div>
            <!-- Shopping Cart -->

            <div id="cartContents" data-fsc-selections-smartdisplay="" style="display: block;">
                <div data-fsc-selections-smartdisplay="" data-fsc-items-container="fastspring_shopping_cart" data-fsc-filter="selected=true" style="display: block;">

                <p>
                <!-- Loop through the items in the order and display their details -->

                        </p><div class="cartItemListing">

                            <!-- Product Name -->
                            <span class="cartProductName">Product 1</span>

                            <!-- Increase and decrease quantity of product -->
                            <span class="quantity buttons_added">
                                <input class="minus" type="button" value="-">
                                <input class="input-text qty text" type="text" data-fsc-item-path="product-1" data-fsc-item-path-value="product-1" value="1" size="4" data-fsc-autoapply="" data-fsc-item-quantity-value="" data-fsc-item-quantity="" data-fsc-action="Update">
                                <input class="plus" type="button" value="+">
                            </span>

                            <!-- Remove product from order -->
                            <i class="bi bi-x-circle remove" id="product-1" data-fsc-action="Remove" data-fsc-item-path-value="product-1"></i>
                        </div>

                        <!-- Product price and discounts -->
                        <div>
    <div>
            <span class="cartItemTotal">€14.00</span>
    </div>
</div>

                        <br>

                        <!-- Cross Sells -->
                                            
                                                <div class="productOffers">
                                                    <div class="productOfferWrapper">
                                                        <div class="productOfferTitleRow">
                                                            You may also be interested in
                                                        </div>
                                                        <div class="crossSellRow">
                                            
                                                                    <div class="crossSellProductName">Cross-Sell Product</div>
                                                                    <div class="crossSellProductPrice">
                                                    <span class="crossSellProductPrice">€10.00</span>
                                            </div>
                                            
                                                                    <div class="crossSellProductCTA">
                                                                        <button class="btn-add-to-cart" style="display: block;" data-fsc-item-path-value="cross-sell-product" data-fsc-action="Add">Add to order</button>
                                                                    </div>
                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            <br>



                <!-- Order summary and totals -->
                <div class="summaryBox">

                    <!-- Order total and any discounts -->
                    <span class="orderTotal">Order Total:</span>
                    <span class="orderTotal" data-fsc-order-total="">€14.00</span>

                    <!-- Display information about the discount total -->

                    <!-- Tax information -->
                    <div class="orderTotal">Including VAT: €2.33 (20%)</div>

                </div>
                <p></p>

                <!-- Coupon code input fields
                Only show if there is no coupon applied to the order -->
                    <div class="couponCode">
                        <input class="couponInput" id="couponInput" type="text" data-fsc-promocode-value="" placeholder="Coupon Code">
                        <button class="applyCoupon" id="applyCoupon" data-fsc-action="Promocode">
                            Apply Coupon
                        </button>
                    </div>


            </div>
            </div>

            <script data-fsc-template-for="fastspring_shopping_cart" type="text/x-handlebars-template">

                <p>
                <!-- Loop through the items in the order and display their details -->
                {{#each items}}
                    {{#each items}}

                        <div class="cartItemListing">

                            <!-- Product Name -->
                            <span class="cartProductName">{{display}}</span>

                            <!-- Increase and decrease quantity of product -->
                            <span class="quantity buttons_added">
                                <input class="minus" type="button" value="-"></input>
                                <input class="input-text qty text" type="text" data-fsc-item-path="{{path}}"
                                    data-fsc-item-path-value="{{path}}" value="{{quantity}}" size="4" data-fsc-autoapply
                                    data-fsc-item-quantity-value data-fsc-item-quantity data-fsc-action="Update"></input>
                                <input class="plus" type="button" value="+"></input>
                            </span>

                            <!-- Remove product from order -->
                            <i class="bi bi-x-circle remove" id="{{path}}" data-fsc-action="Remove"
                                data-fsc-item-path-value="{{path}}"></i>
                        </div>

                        <!-- Product price and discounts -->
                        <div>{{>pricing}}</div>

                        <br />

                        <!-- Cross Sells -->
                        {{#each @root.groups}}
                            {{#iff type '==' 'add'}}
                                {{#iff driver '==' ../../path}}
                                    {{#iff selectableAdditions '==' true}}
                                        {{#iff driverType '==' 'product'}}
                                            {{>crosssell}}
                                            <br />
                                        {{/iff}}
                                    {{/iff}}
                                {{/iff}}
                            {{/iff}}
                        {{/each}}

                    {{/each}}
                {{/each}}

            {{#each order}}

                <!-- Order summary and totals -->
                <div class="summaryBox">

                    <!-- Order total and any discounts -->
                    {{#iff totalValue '>' '0'}}
                    <span class="orderTotal">Order Total:</span>
                    {{#if discountTotalValue}}
                    <span class="orderTotalOriginal" data-fsc-order-originalTotal></span>
                    {{/if}}
                    <span class="orderTotal" data-fsc-order-total></span>
                    {{else}}
                    <p class="fsb-total">FREE</p>
                    {{/iff}}

                    <!-- Display information about the discount total -->
                    {{#if discountTotalValue}}
                    <div class="discountSavings">You save {{discountTotalPercent}}!</div>
                    {{/if}}

                    <!-- Tax information -->
                    <div class="orderTotal">Including {{taxType}}: {{tax}} ({{taxRate}})</div>

                </div>
                </p>

                <!-- Coupon code input fields
                Only show if there is no coupon applied to the order -->
                {{#unless coupons.length}}
                    <div class="couponCode">
                        <input class="couponInput" id="couponInput" type="text" data-fsc-promocode-value
                            placeholder="Coupon Code" />
                        <button class="applyCoupon" id="applyCoupon" data-fsc-action="Promocode">
                            Apply Coupon
                        </button>
                    </div>
                {{/unless}}

            {{/each}}

            </script>


        </div>

        <!-- Right side of the page - FastSpring checkout -->
        <div class="flex_item_right">
            <div class="checkoutTitle">
                <!-- Checkout title bar -->
                <h3>
                    <img src="./images/checkout.png" class="cartImageCheckout">
                    Checkout
                </h3>
            </div>
            <!-- Load the FastSpring Embedded Checkout -->
            <div id="fsc-embedded-checkout-container" style="height: 651px; position: relative;"><iframe id="fsc-embedded-checkout-skeleton" name="fsc-embedded-checkout-skeleton" width="100%" height="100%" frameborder="0" style="position: absolute; top: 0px; opacity: 0;" src="https://sbl.onfastspring.com/sbl/0.9.0/skeleton.html"></iframe><iframe id="fsc-popup-frame" name="fsc-popup-frame" width="100%" height="100%" frameborder="0" background="transparent"  scrolling="no" style="position: absolute; top: 0px; background: transparent; z-index: 2147483647;"></iframe></div>

        </div>
    </div>

    <!--
		Spinner to display action taking place.
		-->
    <div id="fastspring_spinner" style="animation-name: fsb-fadeIn; display: none;">
        <img src="https://d1f8f9xcsvx3ha.cloudfront.net/pinhole/spin.svg">
    </div>




<script>

    // Collapsible header animation script
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = document.getElementById("demo-header-collapsible");
            if (content.style.maxHeight) {
                content.style.marginTop = "0px";
                content.style.maxHeight = null;
            } else {
                content.style.marginTop = "20px";
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }

    function resetDemo() {
        // Clear the current order session and redirect back to the original page
        fastspring.builder.reset();
        window.location.replace("./index.html");
    }

    // Spinner display animations
    // -------------------------*
    function beforeRequestsCallbackFunction() {
        var fsb_spinner = document.getElementById("fastspring_spinner");
        fsb_spinner.style.display = "block";
    }

    function afterMarkupCallbackFunction() {
        init();
        var fsb_spinner = document.getElementById("fastspring_spinner");
        fsb_spinner.style.animationName = "fsb-revfadeIn";
        setTimeout(function () {
            fsb_spinner.style.animationName = "fsb-fadeIn";
            fsb_spinner.style.display = "none";
        }, 450);
    }
    // -------------------------*

    function markupHelpersCallback() {

        // Handlebars.js - this function registers helpers and partials

        Handlebars.registerHelper('iff', function (lvalue, operator, rvalue, options) {
            var functions = {
                '==': function (l, r) { return l == r; },
                '===': function (l, r) { return l === r; },
                '!=': function (l, r) { return l != r; },
                '<': function (l, r) { return l < r; },
                '>': function (l, r) { return l > r; },
                '<=': function (l, r) { return l <= r; },
                '>=': function (l, r) { return l >= r; },
                'typeof': function (l, r) { return typeof l === r; },
            };
            if (!functions.hasOwnProperty(operator)) {
                throw new Error("Handlerbars Helper 'iff' doesn't know the operator " + operator);
            }
            var result = functions[operator](lvalue, rvalue);
            if (result) {
                return options.fn(this);
            } else {
                return options.inverse(this);
            }
        });

        Handlebars.registerPartial("pricing", document.getElementById('pricing-partial').innerHTML);
        Handlebars.registerPartial("productoffer-pricing", document.getElementById('productoffer-pricing-partial').innerHTML);
        Handlebars.registerPartial("crosssell", document.getElementById('crosssell-partial').innerHTML);
    }

    var value, quantity = document.getElementsByClassName('quantity');
    function createBindings(quantityContainer) {

        // Bind event listeners to the quantity increase/decrease buttons

        var quantityAmount = quantityContainer.getElementsByClassName('qty')[0];
        var increase = quantityContainer.getElementsByClassName('plus')[0];
        var decrease = quantityContainer.getElementsByClassName('minus')[0];

        increase.addEventListener('click', function () { increaseValue(this, quantityAmount); });
        decrease.addEventListener('click', function () { decreaseValue(this, quantityAmount); });
    }

    function init() {
        for (var i = 0; i < quantity.length; i++) {
            createBindings(quantity[i]);
        }
    };

    function increaseValue(clicker, quantityAmount) {
        // Increase the quantity of this product in the order
        value = parseInt(quantityAmount.value, 10);
        product = quantityAmount.getAttribute("data-fsc-item-path");
        value = isNaN(value) ? 0 : value;
        value++;
        quantityAmount.value = value;
        fastspring.builder.update(product, value);
    }

    function decreaseValue(clicker, quantityAmount) {
        // Decrease the quantity of this product in the order
        value = parseInt(quantityAmount.value, 10);
        product = quantityAmount.getAttribute("data-fsc-item-path");
        value = isNaN(value) ? 0 : value;
        if (value > 0) value--;
        quantityAmount.value = value;
        fastspring.builder.update(product, value);
    }

    function dataCallback(data) {
        // For debugging purposes only,
        // Outputs the content of the order session payload to the console
        console.log(data);
    }

</script>

<!-- Handlebars template for product pricing elements -->
<script id="pricing-partial" type="text/x-handlebars-template">
    <div>
        {{#if discountTotalValue}}
            <span class="cartItemTotalOriginalPrice">{{priceTotal}}</span>
        {{/if}}
        {{#iff totalValue '>' '0'}}
            <span class="cartItemTotal">{{total}}</span>
        {{else}}
            <span class="cartItemTotal"> Free </span>
        {{/iff}}
    </div>
</script>

<!-- Handlebars template for product pricing elements for product offers -->
<script id="productoffer-pricing-partial" type="text/x-handlebars-template">
    {{#if discountTotalValue}}
        <span class="cartItemTotalOriginalPrice">{{priceTotal}}</span>
    {{/if}}
    {{#iff totalValue '>' '0'}}
        <span class="crossSellProductPrice">{{total}}</span>
    {{else}}
        <span class="crossSellProductPrice"> Free </span>
    {{/iff}}
</script>

<!-- Handlebars template for crosssell offers -->
<script id="crosssell-partial" type="text/x-handlebars-template">
    <div class="productOffers">
        <div class="productOfferWrapper">
            <div class="productOfferTitleRow">
                {{display}}
            </div>
            <div class="crossSellRow">
                {{#each items}}
                    {{#iff selected '==' false}}

                        <div class="crossSellProductName">{{display}}</div>
                        <div class="crossSellProductPrice">{{>productoffer-pricing}}</div>

                        <div class="crossSellProductCTA">
                            <button class="btn-add-to-cart" style="display: block;" data-fsc-item-path-value="{{path}}" data-fsc-action="Add">Add to order</button>
                        </div>

                    {{/iff}}
                {{/each}}
            </div>
        </div>
    </div>
</script>



</body></html>